In [130]:
import pandas as pd
glass_data = pd.read_csv("glass.csv")
glass_data

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

I have imported Pandas Library as pd and read the data from "glass.csv"and stored it in data frame named.

In [418]:
from sklearn.model_selection import train_test_split
X = glass_data.iloc[:,:-1]
Y = glass_data.iloc[:,-1]
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.42,random_state=4)

Arrays of input and output are created as X and Y. Scikit-learn is used to divide the test and train data. To divide that we will need to import the train_test_split function from the model_selection module of scikit_learn library.The test size is given as 42 percent of the data. The random state is given as 4.

In [423]:
print(X)

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]

In [424]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

In [421]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
model = gnb.fit(X_train,Y_train)
y_pred = model.predict(X_test)

Imported GaussianNB from the sklearn naive bayes model.An instance is created to the GaussianNB and assigned it to the variable gnb. Fit method of the scikit-learn is used to train the model on the train data. Predicted values are found for the test values and are stored in Y_predict variable.

In [422]:
from sklearn.metrics import classification_report
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           1       0.48      0.96      0.64        28
           2       0.89      0.22      0.35        37
           3       0.00      0.00      0.00         4
           5       0.80      0.57      0.67         7
           6       1.00      0.67      0.80         3
           7       0.69      1.00      0.81        11

    accuracy                           0.58        90
   macro avg       0.64      0.57      0.55        90
weighted avg       0.70      0.58      0.52        90

Imported classification report from metrics of the sklearn library and found the accuracy of the model. The Accuracy I got for this model is 58.0 with test size(42) and random state(4).